$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;

$white-normal: #F5F7F7;
$white-normal: #EDEFF0;
$white-normal: #FAFCFC;

$blue-normal: #2DC7ED;
$blue-normal: #15AED4;
$blue-normal: #4DDCFF;

$gray-1: #777;

.color-gray {
    color: $gray-1;
}